body{
	background: rgb(23,23,23);
	margin: 0px;
	font-family: 'Charm', cursive;
}

#stripe{

	font-family: 'Charm', cursive;
}

h1{
	color: white;
	text-align: center;
	background: steelBlue;
	margin: 0px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

.container{
	max-width: 600px;
	margin: 20px auto; 
}
.square{

	padding-bottom: 30%;
	width: 30%;
	background: purple;
    float: left;
    margin: 1.66%;
    transition: all 0.3s;
    border-radius: 25px;
}


#stripe{

	background: white;
	text-align: center;
	color: black;
	height: 30px;
}

.selected{

	background: steelBlue;
	color: white;
}

#head{

	font-size: 200%;
}

#message{

    display: inline-block;
	width: 20%;
}

button{

	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	color: steelBlue;
	transition: all 0.3s;
	outline: none;
}

button:hover{

	color: white;
	background: steelBlue;
}